/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-bg-page: rgba(255, 241, 247, 1);
  --color-accent: rgba(255, 141, 203, 1);
  --color-accent-transparent: rgba(50, 49, 45, 0.4);
  --color-text-title-decor: var(--color-bg--page);
  --color-title: rgba(255, 194, 230, 1);
  --color-title-decor: var(--color-text-base);
  --color-menu-decor: rgba(53, 52, 48, 1);
  --color-menu-button-active: var(--color-menu-decor);
  --color-menu-button-focus: var(--color-menu-decor);
  --color-content-section-title: var(--color-menu-decor);
  --color-text-base: rgba(53, 52, 48, 1);


  --image-background-main: url('../images/cover-image-light.png');
}


.theme-light .header__decor,
.theme-light .header__decor::after {
  display: none;
}

/* Остальные стили, только при необходимости */

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-page: rgba(255, 241, 247, 1);
    --color-accent: rgba(255, 141, 203, 1);
    --color-accent-transparent: rgba(50, 49, 45, 0.4);
    --color-text-title-decor: var(--color-bg--page);
    --color-title: rgba(255, 194, 230, 1);
    --color-title-decor: var(--color-text-base);
    --color-menu-decor: rgba(53, 52, 48, 1);
    --color-menu-button-active: var(--color-menu-decor);
    --color-menu-button-focus: var(--color-menu-decor);
    --color-content-section-title: var(--color-menu-decor);
    --color-text-base: rgba(53, 52, 48, 1);
  
  
    --image-background-main: url('../images/cover-image-light.png');
  }

  .header__decor,
  .header__decor::after {
    display: none;
  }
}
